body{
    background-image: url('../images/grass.jpg');
}
#container{
    text-align: center;
    width : 60%;
    height : 100%;
    margin: auto;
    background-color: white;
}
h1{
    font-weight : bold;
    font-size: 30px;
}
span{
    text-align: right;
    color : gray;
    font-style: italic;
}
ol{
    list-style-type: decimal;
    text-align: left;
}
#quiz{
    font-weight: bold;
}
#quizradio{
    display: flex;
}