
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
body{
    background:url("../images/grass.jpg");
}
h1{
    font-family: 'Black Han Sans', sans-serif;
    color : white;
    text-shadow: 7px -7px 7px black;
    margin : auto;
    padding : 20px 10px;
    text-align: center;
    font-size: 5em;
    width: 30%;
}
ul{
    list-style: none;
}
a {
    display:block;
    padding:10px 200px;
    margin : 10px;
    background-color:white;
    border : 2px solid black;
    width : 10em;
    margin : 10px auto;
    font-weight : bold;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    color:#fff;
}
#baby{
    background-color: rgb(204, 201, 201);
}
#pro{
    background-color: gold;
}
#world{
    background-color: rgb(210, 49, 210);
}
#chal{
    background-color: skyblue;
}
#container{

}
footer {
    color : white;
    text-align: right;
}